@import '../mixins/media.scss';

.container {
    --container-width: 1230px;
    --container-padding-size: 15px;
    
    margin: 0 auto;
    padding-left: var(--container-padding-size);
    padding-right: var(--container-padding-size);
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-size) * 2);
    
    @include mobile { 
        --container-padding-size: 36px;
    } 
    @include tablet {
        --container-padding-size: 24px;
    }

}