@import '../../styles/variables/index.scss';
@import '../../styles/components/container.scss';

.wrapper {
    @extend .container;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
    grid-template-areas: "sidebar content";
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 100px;
}
.sidebar {
    grid-area: sidebar;
    border-right: 1px solid #DBDCDF;
}

.main {
    grid-area: content;
}