.btn {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    transition: $default-easing;

    user-select: none;
    &:active {
        transform: scale(0.94);
    }
}
